<main>
  <div class="hero">
    <div class="hero-content">
      <include src="partials/alert.html"></include>
      <h2 class="hero-title" data-aos="fade-up" data-aos-delay="300">
        AI-Driven CASPer & MMI Prep
      </h2>
      <p class="hero-intro" data-aos="fade-up" data-aos-delay="300">
        Record your answers, let our AI evaluate and provide immediate, actionable feedback. Ensure your responses are not only technically sound, but also authentic and impactful.
      </p>
      <include src="partials/form.html"></include>
    </div>
    <include src="partials/hero-image.html"></include>
  </div>
  <include src="partials/featured-companies.html"></include>
</main>
